<div class="container gradient">
  <h1>Here are all the dolls</h1>
  <%= form_with url: dolls_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a doll"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
 <%= render "shared/cards" %>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
