<h1>Is this the doll you want?</h1>

<ul>
  <li><%= @doll.name %></li>
  <li><%= @doll.description %></li>
  <li><%= @doll.location %></li>
  <li><%= @doll.price %></li>
  <li><%= cl_image_tag @doll.image.key %></li>
</ul>
